h6 {
	font-weight: bold;
}

hr {
	height: 1px;
	border: 0 none;
	color: rgb(240, 240, 240);
	background-color: rgb(240, 240, 240);
}

.center {
	text-align: center;
}

.no-margin {
	margin: 0;
}

.user-input-row {
	border-top: thin solid lightgray;
}

.user-input-row .user-input-container {
	margin-top: 1.5rem;
}

input[type="text"],
input[type="number"]{
	width: 15em;
}

input[type="number"]{
	width: 10em;
}
