h6 {
	font-weight: bold;
}

.center {
	text-align: center;
}

.no-margin {
	margin: 0;
}

.user-input-row {
	padding-top: 11px;
	border-top: thin solid lightgray;
}

input[type="text"],
input[type="number"]{
	width: 15em;
}

input[type="number"]{
	width: 10em;
}
